<!DOCTYPE html>
<html lang="es">

<%- include ('../partials/head', {title: "Error 404"}) %>

<body class="body">
    
    <%- include ('../partials/header') %> 

    <main class="main--error-404">
        <img src="../../../images/logo/logo-error-404.png" alt="Error 404!" width="100px" class="img--error-404">
        <h1 class="h4--error-404">Error 404!</h1>
        <p class="p--error-404">Lo sentimos, la página a la que has intentado acceder no existe, pero puedes acceder a las demás secciones de nuestro sitio!</p>
    </main>

    <%- include ('../partials/footer') %> 

</body>
</html>