@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap");

.body{
    width: 100%;
    height: 100vh;
    background-color: #476072;
    font-family: 'Roboto', sans-serif;
    color: #eee;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.alert-warning{
    color:#842029;
    background-color: #F8D7DA;
    text-align: center;
    border-radius: 10px;
}

.body::-webkit-scrollbar{
    width: 10px;
}

.body::-webkit-scrollbar-thumb{
    background: #334257;
    border-radius: 5px;
}

.body::-webkit-scrollbar-track{
    background: #548ca8;
}

/*-----------Header---------------*/
.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #334257;
    margin-bottom: 10px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

/* Header primer fila */
.header__primer-fila{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 5px;
}

.header__logo{
    width: 50px;
}

.cont-search{
    background-color: #548ca8;
    padding: 3px;
    border-radius: 10px;
    display: flex;
    gap: 2px;
    align-items: center;
    justify-content: center;
}

.cont-search__input{
    width: 100%;
    border-radius: 5px;
    border: solid 1px #548ca8;
    outline: 0;
}

.cont-search__i{
    width: 15px;
    cursor: pointer;
    margin-top: 4px;
}

.cont-i{
    display: flex;
    align-items: center;
    gap: 5px;
}

.cont-i__cont-lista-icono{
    position: relative;
}

.cont-i__lista{
    position: absolute;
    list-style: none;
    border: solid 1px #334257;
    border-radius: 5px;
    background-color: #eee;
    transform: translateX(-25px);
    z-index: 900;
    clip-path: var(--clip);
    transition: clip-path .3s;
}

.cont-i__lista--logged{
    transform: translateX(-35px);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.cont-i__cont-lista-icono{
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
}

.cont-i__cont-lista-icono:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.cont-i__titulo{
    color: #334257;
    text-align: center;
}

.cont-i__img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.cont-i__enlaces{
    color: #334257;
    display: block;
    text-decoration: none;
    padding: 5px;
    text-align: center;
    transition: all .2s;
}

.cont-i__enlaces:hover{
    background-color: #548ca8;
    color: #eee;
}

.cont-i__items-logo{
    border-bottom: solid 1px #334257;
}

.cont-i__iconos{
    cursor: pointer;
    width: 30px;
}

.cont-i__iconos--user{
    position: relative;
}

.cont-i__iconos--burger-menu{
    width: 25px;
}

.icono.usuario{
    width: 50px;
    height: 50px;
}
.img-icono.usuario{
    width: 100%;
}

/* Header navegador */
.header__nav{
    position: fixed;
    top: 50px;
    left: 100%;
    transition: all .5s;
    width: 100%;
}

.header__nav-mobile{
    transform: translateX(-100%);
}

.header__lista{
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #548ca8;
}

.header__sublista{
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    background-color: #548ca8;
}

.header__items, .header__subitems{
    width: 100%;
}

.header__enlaces, .header__subenlaces{
    display: block;
}

.header__enlaces, .header__acordeon, .header__subenlaces{
    text-decoration: none;
    padding: 6px;
    color: #eee;
    font-weight: bold;
    transition: all .5s;
    cursor: pointer;
    white-space: nowrap;
}

.header__enlaces, .header__acordeon{
    padding-left: 30px;
}

/* .header__subenlaces{
    display: block;
    text-decoration: none;
    padding: 6px;
    color: #eee;
    font-weight: bold;
    transition: all .5s;
    width: 100%;
} */

.header__acordeon:hover, .header__enlaces:hover, .header__subenlaces:hover{
    background-color: #eee;
    color: #548ca8;
}

/*-----------Carrito---------------*/
#datadata{
    display: flex;
}
.h2{
    text-align: center;
    font-size: 16px;
}
div.\.item{
    display: flex;
    text-align: left;
    padding: 5px 0px 5px 0px;
}
 .itemContent{
    margin: 0 19px;
    width: 120px;
}
.itemContent h5{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui;
}
.itemContent h6{
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: system-ui;
}
.count-product{
    position: absolute;
    top: 6px;
    right: 33px;
    background-color: #fff;
    padding: 1px 4px;
    border-radius: 50%;
    color: red;
    font-weight: 700;
    font-family: system-ui;
    line-height: 14px;
}
.cart-products{
    position: absolute!important;
    top:55px;
    right: -15px;
    background-color: #326c2d;
    padding: 0 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    display: none;
    z-index: 1;
    min-width: 230px;
}

#contentImagen{
    width: 50px;
}
.divSpan{
    line-height: 3em;
}

.cart-products .item{
    display: flex;
    align-items: center;
    border-bottom: solid 2px red;
}
.cart-products .item .item-content{
    margin: 0 19px;
    width: 201px;
}
.cart-products .item .item-content h5{
    margin: 0;
    font-size: 15px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item .item-content h6{
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    font-family: system-ui;
}
.cart-products .item span{
    background-color: red;
    padding: 0px 5px;
    border-radius: 50%;
    color: #fff;
    font-family: system-ui;
    cursor: pointer;
}
.cart-products h3{
    margin-bottom: 0;
    text-align: center;
    font-size: 17px;
}
.cart-products .item .item-content h5.cart-price{
    font-weight: 700;
}

/*stye to btn close*/
p.close-btn{
    font-weight: 800;
    top: 2px;
    right: 21px;
    cursor: pointer;
    color: red;
    position: absolute;
    border: solid 2px white;
    border-radius: 50%;
    background-color: white;
    height: 20px;
}
/*-----------Main---------------*/
.main{
    margin-top: 60px;
    margin-bottom: 15px;
}

/*-----------Index---------------*/
.body--carrito{
    display: block
}

.main--index{
    padding: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
}

.button-carrito{
    width: 150px;
    text-align: center;
    background-color: #4c854c;
    border-radius: 5px;
    border: solid 1px #417541;
    box-shadow: 2px 2px 2px #003;
    display: block;
    transition: color .3s, background-color .5s;
    cursor: pointer;
}

.button-carrito--ppal{
    width: 100%;
}

.button-carrito:hover{
    background-color: #074e07;
}

.button-carrito:active{
    transform: translate(2px, 2px);
    box-shadow: 0px 0px;
}

/* Section ppal */
.section-ppal{
    /* display: flex; */
    width: 100%;
    margin: 0 auto;
    /* overflow-x: scroll;
    scroll-snap-type: x mandatory; */
}


.section-ppal__art{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* object-fit: cover;
    scroll-snap-align: center */
}

.section-ppal__picture{
    min-width: 170px;
    width: 100%;
}

.section-ppal__img{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.section-ppal__datos-imgs-button{
    display: flex;
    flex-direction: column;
    background-color: #548ca8;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.section-ppal__datos{
    display: flex;
    align-items: center;
    padding: 3px;
    width: 100%;
}

.section-ppal__spans{
    width: 100%;
    text-align: center;
}

.section-ppal__spans--precio{
    border-left: solid 1px #476072;
    border-right: solid 1px #476072;
}

.section-ppal__cont-div-imgs, .section-ppal__cont-imgs{
    display: flex;
    width: 100%;
}

.section-ppal__div-imgs, .section-ppal__imgs{
    width: 100%;
}

.section-ppal__div-imgs{
    cursor: pointer;
}

/* Section Sec */
.section-sec--products{
    width: 80%;
    margin: auto;
}

.section-sec__titulo{
    margin: 10px 0;
}

.section-sec__cont-arts{
    display: flex;
    gap: 15px;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}

.section-sec__arts{
    background-color: #548ca8;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    transition: all .2s;
    gap: 5px;
    min-width: 120px;
    border-radius: 5px;
    position: relative;
}

.section-sec__cont-picture-star{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.section-sec__cont-star{
    position: absolute;
    top: 105%;
    left: 0px;
    color: yellow;
}

.section-sec__picture{
    border-radius: 5px;
    width: 150px;
    height: 150px;
}

.section-sec__imgs{
    min-width: 100%;
    height: 100%;
    border-radius: 5px;
}

.section-sec__cont-datos{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px
}

.section-sec__spans{
    display: block;
    text-align: center;
}

/* Section ppal y section sec */
.section-ppal__titulo, .section-sec__titulo{
    text-shadow: 1px -4px 4px #334257;
}

.section-ppal__titulo-enlace, .section-sec__titulo-enlace{
    color: #eee;
    text-decoration: none;
}

.section-ppal__art, .section-sec__arts{
    box-shadow: 7px 7px 4px #334257;
}

/*-----------Inicio de carrito---------------*/
/* Carrito */
.carrito{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    background-color: #548ca8;
    margin-bottom: 15px;
}

.carrito__juegos, .carrito__cod-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carrito__juegos{
    padding: 10px;
    border-bottom: solid 1px #476072;
}

.carrito__cod-total{
    padding: 20px;
}

.carrito__img-juego{
    display: flex;
    align-items: center;
    gap: 5px;
}

.carrito__juego{
    font-size: 15px;
}

.carrito__i-precio-cant,.carrito__total{
    white-space: nowrap;
}

.carrito__i-precio-cant{
    display: flex;
    gap: 10px;
}

.carrito__i-trash{
    color: #eee;
    width: 20px;
    cursor: pointer;
    transition: all .4s;
}

.carrito__i-trash:active{
    transform: scale(0, 0);
}

.carrito__cod{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

/* Métodos de pago y pagar*/
/* Elegir método de pago */
.pagar-metodos{
    width: 100%;
    background-color: #548ca8;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pagar-metodos__titulo{
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.metodo-pago__lista{
    list-style: none;
    display: flex;
    flex-direction: column;
    border-top: solid 1px #548ca8;
}

.metodo-pago__label{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    border-bottom: solid 1px #548ca8;
    padding: 10px;
    background-color: #334257;
    transition: all .5s;
    cursor: pointer
}

.metodo-pago__label:hover{
    background-color: #476072;
}

/* Boton de pagar */
.metodo-pago__pagar{
    margin: 0 auto;
}

.metodo-pago__boton{
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 20px;
    margin-bottom: 10px;
    background-color: #4c854c;
    border: solid 1px #417541;
    color: #eee;
    text-align: center;
    box-shadow: 2px 2px 2px #003;
    cursor: pointer;
    transition: color .3s, background-color .5s;
}

.metodo-pago__boton:hover{
    background-color: #074e07;
}

.metodo-pago__boton:active{
    transform: translate(2px, 2px);
    box-shadow: 0px 0px;
}

/*-----------Crear producto---------------*/
.main--createProduct {
    margin-top: 25%;
}

.formCreateProduct {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #eee;
    border-radius: 50px;
    color: #000;
    margin: 0 auto;
    padding: 10px;
}

.form__cont-elements{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}
/* 
.form__seccion-h5 {
    text-align: center;
} */

.input__create-product {
    width: 60%;
    border-radius: 5px;
    outline: none;
    border: #000 solid 1px;
}

.boton-enviar-producto {
    padding: 2%;
    border-radius: 50px;
    transition: all 0.5s;
    cursor: pointer;
}

.boton-enviar-producto:hover {
    background-color: #476072;
    color: #eee;
}

select {
    width: 50%;
}

/*-----------Login y registro---------------*/
/* Contenedor principal */
.main--registro-login{
    max-width: 450px;
    margin: 2% auto;
    color: #333;
    background-color: #eee;
    border-radius: 25px;
    padding: 10px;
    text-align: center;
}

/* Logo */
.logo-img{
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo{
    text-align: center;
}

.lista-iconos-redes{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 0 0 5px 0;
}

.lista-iconos-redes li a{
    color: inherit;
    display: flex;
}

.iconos-redes{
    font-size: 20px;
    border: solid 1px #808080;
    border-radius: 50%;
    padding: 7px 9px;
    background-color: #eee;
}

/* Formulario */
.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.form__subtitulo-a, .form__a {
    color: #333;
    text-decoration: none;
}

.form__primera-seccion {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
}

.form__contenedor-subtitulos {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

.form__contenedor-inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form__cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__inputs {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #000;
    color: rgba(0, 4, 55, 0.8);
    margin-bottom: 3px;
}

.form__a {
    font-size: 100%;
}

.form__contenedor-recuerdame-tyc{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px
}

.form__recuerdame-tyc {
    cursor: pointer
}

.form__cont-login-iniciar-sesion {
    text-align: center;
    margin: 15px;
}

.button-crearCuenta-iniciarSesion{
    margin: auto;
    padding: 10px;
    width: 60%;
    border-radius: 10px;
    border: solid 1px #000;
    background-color: #eee;
    transition: all .5s;
    cursor: pointer
}

.button-crearCuenta-iniciarSesion:hover{
    background-color: #476072;
    color: white;
}

.button-iniciarSesion{
    color: #333;
    text-decoration: inherit;
}

.erroresRegistro-ul {
    margin: 2%;
}

.errorFatal {
    background-color: #dc5f5f;
    color: #fff;
}

.errorFatal::placeholder{
    color: rgb(226, 221, 221);
}

.errorFatalLetras {
    color: #fff;
}

.errorFatalDos {
    background-color: rgb(170, 61, 61);
}

.errorFatalDosLetras {
    color: rgb(255, 255, 255);
}

.text-danger{
    color:#da1313;
    list-style-type: none;
}

/*-----------Editar Usuario---------------*/
.main--editUser-principal {
    background-color: #fff;
    color: #000;
    border-radius: 25px;
    margin: 0 .5%;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.editUser-principal-input {
    width: 50%;
}

/*-----------ProductDetail---------------*/
.main-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.juego{
    width: 90%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5) ;
    background-color: #548ca8;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}

.nombre__juego{
    padding: 5px;
    color:#eee;
    width: 100%;
    text-align: center;
    height: 30px;
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.cont-img__juego{
    width: 80%;
    margin-bottom: 10px;
    text-align: center;
}

.cont-img__img{
    width: 90%;
    height: 200px;
}

.cont-ediciones-plataformas, .cont-plataformas{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plataformas{
    color: #eee;
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.cont__consolas{
    display: flex;
    gap: 15px;
    margin-bottom: 10px;
}

.ps5{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #eee;
    text-shadow:2px 4px  4px rgba(0, 0, 0, 0.8) ;
    border-radius: 50%;
    background-color: #eee;
    box-shadow:2px 2px  2px 2px rgba(0, 0, 0, 0.4) ;
}

.xbox{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #eee;
    border-radius: 50%;
    background-color: rgb(21, 80, 21);
    text-shadow:2px 4px  4px rgba(0, 0, 0, 0.8) ;
    box-shadow:2px 2px  2px 2px rgba(0, 0, 0, 0.4) ;
}

.pc{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    color: #eee;
    transform:perspective(150px) rotateY(-40deg);
    background-color: #eee;
    text-shadow:2px 4px 4px rgba(0, 0, 0, 0.8) ;
    box-shadow:2px 2px  2px 2px rgba(0, 0, 0, 0.4) ;
}

.img-logo__plataformas{
    width: 100%;
}

.cont-ediciones{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cont-ediciones__titulo{
    color: #eee;
    font-size: 20px;
}

.cont-ediciones__tipos{
    width: 90%;
    display: flex;
    align-items: center;
    padding: 5px;
    justify-content: space-evenly;
}

.ediciones button{
    background-color: #eee;
    padding: 3px;
    border-radius: 5px;
    border: solid 2px #334257;
    margin: 3px;
}

.ediciones button:hover{
    opacity: .8;
}

.ediciones button:focus{
    background-color: #334257;
    color: #eee;
}

.detalles{
    box-shadow: 2px 2px  4px rgba(0, 0, 0, 0.35) ;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  #548ca8;
    width: 90%;
    margin: 15px;
    border-radius: 5px;
}

.detalles__primer-fila{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.precio{
    background-color: #334257;
    width: 150px;
    padding: 5px;
    font-size: 24px;
    border-radius: 5%;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.cont__añadir{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px
}

.añadir__carrito-fav{
    background-color: #4c854c;
    border: solid 1px #417541;
    box-shadow: 2px 2px 2px 1px #00000033;
    display: flex;
    align-items: center;    
    height: 25px;
    color: #eee;
    cursor: pointer;
}

.añadir__carrito-fav:hover{
    background-color: #074e07;
}

.añadir__carrito-fav:active{
    transform: translate(2px, 2px);
    box-shadow: 0px 0px;
}

.detail-cont-star{
    display: flex;
    gap: 10px;
    cursor: pointer
}

.detail-star{
    color: #fff;
}

.detail-cont-star:active .detail-star{
    color: yellow;
}

.contenido{
    width: 100%;
    align-items: center;
}

.cont-datos{
    display: flex;
    width: 100%;
    color: #334257;
    text-align: center;
    background-color: #eee;
}

.video, .descripcion, .ficha-tecnica{
    width: 33%;
    padding: 5px;
    border: solid 1px black;
    cursor: pointer;
}

.descripcion, .ficha-tecnica{
    border-left: none;
}

.ficha-tecnica{
    width: 34%;
}

.cont-datos button:focus{
    background-color: #334257;
    color: #eee;
}

.cont__detalles{
    padding: 20px;
    text-align: start;
    height: 87%;
}

.cont-video {
    display: none;
    margin: 0 0 0 -3%;
}

.cont__edicion {
    display: flex;
    /* justify-content: center; */
    gap: 25px;
    margin-bottom: 2%;
}

.cont__edicion-editar {
    text-decoration: none;
}

.stock{
    margin: 10px;
}

/*-----------Error 404---------------*/
.main--error-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.p--error-404 {
    text-align: center;
}

/*-----------Soporte---------------*/
.support-div-h1 {
    text-align: center;
    margin: 0% 0% 5% 0%;
}

.support-div-principal-barra {
    margin: 3% 0;
}

.support-div-principal-boton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-align: left;
    padding: 2%;
    transition: all .5s;
}

.support-div-principal-boton:hover {
    background-color: #334257;
    color: #FFF;
}

.logito-flecha {
    transition: transform .5s;
}

.logito-flecha:hover {
    transform: rotate(90deg);
}

.support-div-principal-a {
    color: #000;
}

.support-buscador {
    width: 100%;
    padding: 2% 0;
    text-align: center;
    outline: 0;
}

/*-----------Perfil de Usuario---------------*/
.main--userProfile-h1 {
    text-align: center;
}

.main--userProfile-div {
    text-align: center;
}

.fotoPerfil {
    width: 40%;
    border-radius: 100px;
}

.main--userProfile-h2 {
    text-align: center;
}

.main--userProfile-h3-div {
    text-align: center;
    margin: 2%;
}

.main--userProfile-a {
    text-decoration: none;
    color: rgb(14, 52, 110);    
}

/*-----------Footer---------------*/
.footer{
    align-self: flex-end;
    width: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #334257;
    gap: 10px
}

.footer__primer-fila{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.footer__ul{
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.footer__li{
    list-style: none;
}

.footer__li-enlaces-generales{
    text-decoration: none;
    color: #eee;
}

.footer__ul--met-pago{
    padding: 2px;
    background-color: #eee;
    border-radius: 5px;
    min-width: 180px;
}

.footer__li-met-pago{
    width: 30px;
}

.footer__li-enlaces-generales,.footer__li-met-pago{
    margin-left: 5px;
}

.footer__li-redes{
    color: #000;
    background-color: #eee;
    border-top: solid 2px #eee;
    border-left: solid 2px #eee;
    border-bottom: solid 2px #808080;
    border-right: solid 2px #808080;
    border-radius: 45%;
    padding: 10px;
}

.footer__copy{
    font-size: 12px;
}

/*-----------Media queries---------------*/
@media (min-width: 480px ) {

/*-----------Header---------------*/
    .cont-i__iconos{
        width: 35px;
    }

    .cont-i__iconos--burger-menu{
        width: 30px;
    }

    .cont-search{
        width: 50%;
    }

    /*-----------Main---------------*/
    .main{
        margin-top: 90px;
    }

    /*-----------Index---------------*/
    .main--index{
        padding: 0 3%
    }

    /* Section ppal */
    .section-sec__cont-star{
        left: -7px;
    }

    /*-----------Inicio de carrito---------------*/
    .carrito__juegos{
        padding: 20px;
    }

    .pagar-metodos__titulo{
        font-size: 1.5em;
    }

    /*-----------Login - Inicar sesión - Editar usuario---------------*/
    .form__inputs {
        width: 50%;
    }

    /*-----------ProductDetail---------------*/
    .juego{
        position: relative;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .cont-img__juego{
        width: 50%;
        border-right: solid 3px #334257;
    }

    .cont-img__img{
        height: 210px;
        width: 210px;
    }

    .cont-video {
        display: none;
        margin: 0 0 0 11.5%;
    }

    /*-----------Error 404---------------*/
    .img--error-404 {
        margin-top: 10%;
    }

    /*-----------Footer---------------*/
    .footer__met-pago{
        width: 50px;
    }

    .footer__li-met-pago{
        width: 40px;
    }

    /*-----------Perfil de usuario---------------*/
    .fotoPerfil {
        width: 30%;
    }
}

@media (min-width: 769px) {
    /*-----------Carrito---------------*/
    .cart-products{
        top: 90px;
        right: 10px
    }
    .count-product{
        top:9px;
        right: 12px;
    }
    p.close-btn{
        top:2px;
        right: 10px;;
    }
    /*-----------Header---------------*/
    .header__primer-fila{
        padding: 5px 10px;
    }

    .header__nav{
        position: static;
    }

    .header__lista{
        flex-direction: row;
        position: relative;
    }

    .header__sublista{
        position: absolute;
        flex-direction: row;
        left: 0;
        right: 0;
        border-top: solid 1px #334257;
        background-color: #548ca8;
    }

    .cont-i__iconos--burger-menu{
        display: none;
    }

    .header__enlaces, .header__acordeon{
        padding-left: 0;
        text-align: center;
    }

    .header__nav-mobile{
        transform: translateX(0);
    }

    /*-----------Index---------------*/
    .section-ppal__art{
        flex-direction: row;
        margin: 0 auto
    }

    .section-ppal__datos-imgs-button{
        flex-direction: column;
        padding:8px
    }

    .section-ppal__datos{
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }

    .section-ppal__spans{
        text-align: left;
    }

    .section-ppal__spans--titulo{
        text-align: center;
        font-size: 25px;
    }

    .section-ppal__spans--precio{
        border-left: none;
        border-right: none;
    }

    .section-ppal__cont-div-imgs{
        flex-direction: column;
        gap: 3px;
    }

    .section-ppal__cont-imgs{
        gap: 6px;
    }

    .section-ppal__datos-imgs-button{
        max-width: 300px;
    }

    .section-sec__cont-star{
        top: 0;
        left: 0;
        background-color: rgba(73, 177, 218, 0.562);
        opacity: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all .5s;
    }
    
    .section-sec__cont-star:hover{
        opacity: 1;
    }
    
    .section-sec__star{
        cursor: pointer;
    }
    
    .section-sec__star:hover::after{
        content: "Añadir a favoritos";
        color: #eee;
    }

    /*-----------Inicio de carrito---------------*/
    .carrito{
        width: 80%;
    }

    .pagar-metodos{
        flex-direction: row;
        align-items: center;
        padding: 15px;
    }

    .metodo-pago__lista{
        flex-direction: row;
        border-left: solid 1px #548ca8;
    }

    .metodo-pago__label{
        border-right: solid 1px #548ca8;
    }

    /*-----------Login - Iniciar sesión - Editar usuario---------------*/
    .logo-img{
        width: 150px;
    }

    .lista-iconos-redes{
        margin: 20px 0 25px 0;
    }

    .form__inputs {
        width: 50%;
    }

    .button-crearCuenta-iniciarSesion{
        width: 200px;
    }

    /*-----------ProductDetail---------------*/
    .main-detail{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        height: 460px;
    }

    .juego{
        flex-direction: column;
        width: 40%;
        margin-left: 15px;
        padding-left:20px;
        height: 100%;
    }

    .cont-img__juego{
        border: none;
        width: 90%;
    }

    .cont-img__img{
        height: 250px;
        width: 250px;
    }

    .cont-video {
        display: none;
        margin: 0 0 0 10%;
    }

    .detalles{
        display: flex;
        flex-direction: column;
        width: 60%;
        height: 100%;
    }

    .detalles__primer-fila{
        height: 50%;
    }

    .contenido{
        height: 50%;
    }

    /*-----------Support---------------*/
    .main--support {
        margin-top: 15%;
    }

    /*-----------Footer---------------*/
    .footer__primer-fila{
        flex-direction: row;
        justify-content: space-between;
    }

    /*-----------Perfil de usuario---------------*/
    .fotoPerfil {
        width: 20%;
    }
}

@media (min-width: 1280px) {
    /*-----------Header---------------*/
    /* .header {
        padding: 0 10%; 
    } */

    /*-----------Carrito---------------*/
    .cart-products{
        padding: 10px 29px;
        min-width: none;
    }
    p.close-btn{
        top: 7px;
        right: 12px;
        font-size: 20px;
        text-align: center;
        height: 25px;
        width: 23px;
    }
    /*-----------Login - Iniciar sesión - Editar usuario---------------*/
    .form__inputs {
        width: 65%;
    }

    /*-----------Crear producto---------------*/
    .main--createProduct {
        margin-top: 8%;
    }

    .formCreateProduct {
        max-width: 100%;
    }

    /*-----------Product Detail---------------*/
    .cont-video {
        display: none;
        margin: 0 0 0 28.8%;
    }
}