<!DOCTYPE html>
<html lang="es">

    <%- include ('./partials/head', {title: "Soporte"}) %>

<body class="body">
    <%- include('./partials/header')  %> 

    <main class="main">
        <div class="support-div-h1">  
            <h3>¿En qué podemos ayudarte?</h3>
        </div>

        <section class="section-sec-support">
            <div class="support-div-principal">
                <div class="support-div-principal-barra">
                    <button class="support-div-principal-boton support-div-principal-a">Juegos, software, etc.<i class="fas fa-caret-right logito-flecha"></i></button>
                </div>
            </div>

            <div class="support-div-principal">
                <div class="support-div-principal-barra">
                    <button class="support-div-principal-boton support-div-principal-a">Compras<i class="fas fa-caret-right logito-flecha"></i></button>
                </div>
            </div>

            <div class="support-div-principal">
                <div class="support-div-principal-barra">
                    <button class="support-div-principal-boton support-div-principal-a">Mi cuenta<i class="fas fa-caret-right logito-flecha"></i></button>
                </div>
            </div>

            <div class="support-div-principal">
                <div class="support-div-principal-barra">
                    <button class="support-div-principal-boton support-div-principal-a">Comunidad GameSoul<i class="fas fa-caret-right logito-flecha"></i></button>
                </div>
            </div>

            <div class="support-div-principal">
                <div class="support-div-principal-barra">
                    <button class="support-div-principal-boton support-div-principal-a">Tengo cargos de GameSoul que no he hecho<i class="fas fa-caret-right logito-flecha"></i></button>
                </div>
            </div>
        </section>

        <div class="support-div-busqueda">
            <input type="search" placeholder="Buscar problemas, características y juegos" class="support-buscador">
        </div>
    </main>

    <%- include ('./partials/footer') %>

</body>
    
</html>