<footer class="footer">
    <div class="footer__primer-fila">
        <ul class="footer__ul">
            <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Legal</a></li>
            <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Política</a></li>
            <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Cookies</a></li>
            <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Ayuda</a></li>
            <li class="footer__li"><a href="#" class="footer__li-enlaces-generales">Nosotros</a></li>
        </ul>

        <ul class="footer__ul footer__ul--met-pago">
            <li class="footer__li"><img src="/images/iconos/mastercard.svg" class="footer__li-met-pago"></li>
            <li class="footer__li"><img src="/images/iconos/visa.svg" class="footer__li-met-pago"></li>
            <li class="footer__li"><img src="/images/iconos/mercado-pago.svg" class="footer__li-met-pago"></li>
            <li class="footer__li"><img src="/images/iconos/paypal.svg" class="footer__li-met-pago"></li>
            <li class="footer__li"><img src="/images/iconos/google-pay.svg" class="footer__li-met-pago"></li>
        </ul>
    </div>

    <ul class="footer__ul">
        <li class="footer__li"><a href="#"><i class="fab fa-facebook footer__li-redes"></i></a></li>
        <li class="footer__li"><a href="#"><i class="fab fa-twitter footer__li-redes"></i></a></li>
        <li class="footer__li"><a href="#"><i class="fab fa-instagram footer__li-redes"></i></a></li>
        <li class="footer__li"><a href="#"><i class="fab fa-linkedin footer__li-redes"></i></a></li>
        <li class="footer__li"><a href="#"><i class="fab fa-pinterest footer__li-redes"></i></a></li>
    </ul>

    <div>
        <p class="footer__copy">Copyright ©2021 Game Soul S.R.L.</p>
    </div>
</footer>