<header class="header">
    <div class="header__primer-fila">
        <div>
            <a href="/"><img src="/images/logo/Game-Soul.png" alt="logo" class="header__logo"></a>
        </div>

        <form action='/products/search' method='GET' class="cont-search">
            <input type="text" placeholder="Dime que juego buscas" class="cont-search__input" id="search" name="search">
            <label for="search"><img src="/images/iconos/search.svg" class="cont-search__i"></label> 
        </form>

        <div class="cont-i">
            <div class="cont-i__cont-lista-icono">
                <img src="/images/iconos/user.svg" class="cont-i__iconos con-i__iconos--user">

                <% if (locals.isLogged) { %>
                    <div class="cont-i__lista cont-i__lista--logged">
                        <span class="cont-i__titulo">Hola <%= locals.userLogged.first_name %> </span>
                        <img src="/images/iconosUsuarios/<%= locals.userLogged.avatar %>" alt="" class="cont-i__img">
                        <a href="/users/userProfile" class="cont-i__enlaces">Ir al perfil</a>

                        <% if (locals.userLogged.type_user) { %>
                            <a href="/products/create" class="cont-i__enlaces">Crear producto</a>
                        <% } %>

                        <a href="/users/logout" class="cont-i__enlaces">Cerrar sesión</a>
                    </div>
                <% } else {%>
                    <ul class="cont-i__lista">
                        <li class="cont-i__items cont-i__items-log"><a href="/users/login" class="cont-i__enlaces">Login</a></li>
                        <li class="cont-i__items"><a href="/users/register" class="cont-i__enlaces">Register</a></li>
                    </ul>
                <% } %>
            </div>
            <div>
            <img onmouseover="showCart(this)" src="/images/iconos/shop.svg" class="cart cont-i__iconos">
            <p class="count-product">0</p>
            </div>
            <img src="/images/iconos/burger-menu.svg" class="cont-i__iconos cont-i__iconos--burger-menu" id="menu">
        </div>
    </div>

    <nav class="header__nav" id="nav">
        <ul class="header__lista">
            <% if (locals.isLogged) { %>
            <li class="header__items"><a href="/products/favoritos" class="header__enlaces">Favoritos</a></li>
            <% } %>
            <li class="header__items"><a href="" class="header__enlaces">Ofertas</a></li>
            <li class="header__items">
                <details class="">
                    <summary class="header__acordeon">Consolas</summary>
                    <ul class="header__sublista">
                        <li class="header__subitems"><a href="#" class="header__subenlaces">XBOX</a></li>
                        <li class="header__subitems"><a href="#" class="header__subenlaces">PC</a></li>
                        <li class="header__subitems"><a href="#" class="header__subenlaces">PS5</a></li>
                    </ul>
                </details>
            </li>
            <li class="header__items">
                <details class="">
                    <summary class="header__acordeon">Género</summary>
                    <ul class="header__sublista">
                        <li class="header__subitems"><a href="#" class="header__subenlaces">Acción</a></li>
                        <li class="header__subitems"><a href="#" class="header__subenlaces">Estrategia</a></li>
                        <li class="header__subitems"><a href="#" class="header__subenlaces">Deportes</a></li>
                    </ul>
                </details>
            </li>
            <li class="header__items"><a href="/support" class="header__enlaces">Soporte</a></li>
            <li class="header__items"><a href="/products" class="header__enlaces">Productos</a></li>
        </ul>
    </nav>
    <script src="../../../js/validations/carritoFinal.js" type="module"></script>
</header>